html,
body,
.header-prlx-wrap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.header-prlx-wrap {
  background: #000 center center no-repeat;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.header-prlx-wrap .layer {
  position: absolute;
}
.header-prlx-wrap .layer.bg {
  width: auto;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.header-prlx-wrap .layer.moon {
  left: 45%;
  top: 10%;
  width: 15vmin;
}
.header-prlx-wrap .layer.cloud-1 {
  left: 35%;
  top: 10%;
  width: 40vmin;
  opacity: .5;
}
.header-prlx-wrap .layer.cloud-2 {
  left: 50%;
  top: 3%;
  width: 55vmin;
  opacity: .5;
}

